FROM ubuntu:latest

ENV LOG_FILE /var/log/{{ logs_volume_name }}/{{ logs_volume_name }}.log
ENV OS_PROJECT_NAME {{ os_project_name | default("Default",true) }}
ENV WEBHOOK_URL {{ webhook_url }}
ENV USER_TOKEN {{ user_token }}
ENV BOT_TOKEN {{ bot_token }}
ENV IMAGE_FOR_GRAPHING {{ image_for_graphing }}

RUN apt update && apt install inotify-tools python3-pip curl cron -y

RUN pip3 install slack-sdk matplotlib

#creating canary user
RUN  groupadd --gid {{ notify_gid }} {{ notify_group }} \
    && useradd -l -M --shell /usr/sbin/nologin --uid {{ notify_uid }} --gid {{ notify_gid }} --no-create-home {{ notify_user }}

RUN touch /var/log/cron.log
RUN touch /var/log/output.log

USER {{ notify_user }}

ENTRYPOINT ["cron", "-f"]
